.side-heading:before{
	content: url(../images/pointer.png);
	padding-right: 0.5%;
}

.side-triangles{
	flex: inherit;
	max-width: 10px;
	height: 40px;
}

.nav-item{
	display: block;
	background-color:gray;
	margin-left: 0;
	margin-top: 1px;
}

.top{
	margin: 0;
	background-image: url(../images/background-top.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.letters{
	color: gray;
}

@media screen and (max-width: 600px){
	.top-heading{
		display: none;
	}
}
.main-content{
	border-top: 4px solid gray;
	max-width: 90%;
	margin: 0 3%;
}
.section-heading:before{
	content: url(../images/pointer.png);
	padding-right: 1%;
}


.hide-paragraph{
	display: none;
}
.main-section:not(:last-child){
	border-bottom: 2px dotted gray;
}
.main-section{
	display: flex;
	padding-top: 0.5%;
	margin-right: 30%;
}
.face{
	width: 20%;
	height: 20%;
	padding: 2% 2% 2% 0;
}
.face-section{
	padding: 2% 0;
}
.colors{
	position: absolute;
	right: -54px;
	bottom: -139px;
}