@import "reset";

/*
	VARIABLES
*/

$clr-main: #770000;
$clr-one: #b10000;
$clr-two: #ff7900;
$clr-three: #2de200;
$clr-four: #00a0e2;
$clr-five: #b300e2;
$font-page: Arial, Helvetica, sans-serif;

/*

	STYLES

*/

.item-color-one {
	background-color: $clr-one;
	&:hover .color-one{
		background-color: $clr-one;
	}
}

.item-color-two {
	background-color: $clr-two;
	&:hover .color-two{
		background-color: $clr-two;
	}
}

.item-color-three {
	background-color: $clr-three;
	&:hover .color-three{
		background-color: $clr-three;
	}
}

.item-color-four {
	background-color: $clr-four;
	&:hover .color-four{
		background-color: $clr-four;
	}
}

.item-color-five {
	background-color: $clr-five;
	&:hover .color-five{
		background-color: $clr-five;
	}
}

.page{
	background-color: $clr-main;
}

.side-heading{
	display: flex;
	flex: inherit;
	font-family: $font-page;
	font-size: 100%;
	color: gray;
	transform: rotate(270deg);
	list-style-type: none;
}

.nav-list{
	display: flex;
	flex-flow: column;
	list-style-type: none;
	font-family: $font-page;
}

.nav-link{
	display: block;
	margin: 0 0 0 5px;
	padding: 3px 40px 3px 10px;
	font-family: $font-page;
	color: white;
	text-decoration: none;
	background-color: gray;
}

.top-heading{
	flex: 3;
	font-family: $font-page;
	font-size: 180%;
	font-weight: bold;
	color: $clr-main;
	letter-spacing: 0.1em;
}

.main-top-heading{
	font-family: $font-page;
	font-size: 90%;
	color: $clr-main;
}

.section-heading{
	font-family: $font-page;
	font-size: 100%;
	font-weight: bold;
	color: gray;
	letter-spacing: 0.1em;
}

.main-heading{
	margin: 0;
	font-family: $font-page;
	font-size: 90%;
	color: $clr-main;
}

.main-top-paragraph{
	font-family: $font-page;
	font-size: 90%;
	color: black;
}

.main-paragraph{
	margin: 0;
	font-family: $font-page;
	font-size: 90%;
	color: black;
}

.sidebar{
	position: absolute;
	vertical-align: middle;
}

.side-menu{
	position: absolute;
	display: flex;
	width: 200px;;
	background-color: white;
	border-radius: 10px 0 0 10px;
	line-height: 2;

	

	&.position-top {
		top: 5px;
		left: -35px;
	}
	
	&.position-bottom {
		top: 205px;
		left: -35px;	
	}
}

.active .side-menu{
	left: -130px;

}

.side-top{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin: 7% 7% 1% 7%;
	width: 20px;
}

.wrapper {
	position: relative;
	margin: 100px 200px;
	min-width: 700px;
	padding: 0.5%;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #770000;
}

.content{
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	margin: 0.5%; 
	min-height: 400px;
	background-color: white;
}

.letters-logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.1% 3%;
	height: 10%;
	max-width: 90%;
	border-bottom: 1px solid gray;
}