/*
	VARIABLES
*/
$brick: #b10000;
$purple: #b300e2;

/*

	STYLES

*/

.item-color-brick {
	background-color: $brick;
	&:hover .color-brick{
		background-color: $brick;
	}
}

.item-color-purple {
	background-color: $purple;
	&:hover .color-purple{
		background-color: $purple;
	}
}
